/target
tokenresearch.sqlite
tokenresearch.sqlite-shm
tokenresearch.sqlite-wal
token_prices.sqlite
token_prices.sqlite-shm
token_prices.sqlite-wal
.alma-snapshots
*.csv
*.pyc
*.txt
*.tsbuildinfo
coingeko/webapp/node_modules/
coingeko/webapp/dist/
coingeko/webapp/public/data/
