database_path = "token_prices.sqlite"
sample_retention_days = 30
discovery_max_attempts = 5
backfill_window_days = 90
http_min_interval_ms = 1000
restart_delay_ms = 1000
venues = ["binance", "hyperliquid", "lighter"]
